RESEND_API_KEY=re_jgo1iZV5_Qhpg19A6XSbo2zVLJg3L2YrQ
RESEND_FROM=Attendance Tracker <onboarding@resend.dev>
OTP_EMAIL=kommuruyaswanth9@gmail.com
SESSION_SECRET=a974c0d24f0b490580c5f726771efe6a9bf7cd7bd752148dcdb1b23426712134
PORT=3000
